/shared
/app/www/wp/
/app/www/wp-local-config.php

/app/www/content/upgrade
/app/www/content/uploads

/vendor
/node_modules
/bower_components

.env

.sass-cache
.DS_Store

/app/www/content/plugins/google-analytics-for-wordpress/.git/
/app/www/content/plugins/google-analytics-for-wordpress/.gitignore