/shared
/app/www/wp/
/app/www/wp-local-config.php

/app/www/content/upgrade/
/app/www/content/uploads
/app/www/content/cache/
/app/www/content/w3tc-config/
/app/www/content/advanced-cache.php
/app/www/content/object-cache.php

/vendor
node_modules
bower_components

.sass-cache
.vagrant
.DS_Store

/app/www/content/plugins/google-analytics-for-wordpress/.git/
/app/www/content/plugins/google-analytics-for-wordpress/.gitignore