PP_ENV=dev

PP_DBNAME=mydb
PP_DBUSER=dbuser
PP_DBPASS=dbpass
PP_DBHOST=localhost

PP_DEBUG=1
PP_SAVEQUERIES=1

PP_HOME=http://loc.printingplate.co
PP_SITEURL=http://loc.printingplate.co/wp

PP_WP_CACHE=0

PP_DISABLE_WP_CRON=1
PP_DISALLOW_FILE_EDIT=1
PP_AUTO_UPDATE_CORE=0
PP_AUTOMATIC_UPDATER_DISABLED=1
