SUPER_DBNAME=dbname
SUPER_DBUSER=dbuser
SUPER_DBPASS=dbpass
SUPER_DBHOST=localhost

SUPER_DEBUG=1
SUPER_SAVEQUERIES=1

SUPER_HOME=http://loc.superinteractive.com/
SUPER_SITEURL=http://loc.superinteractive.com/wp

SUPER_WP_CACHE=0
SUPER_DISABLE_WP_CRON=1
SUPER_ENV=dev

SUPER_DISALLOW_FILE_EDIT=1

SUPER_WP_AUTO_UPDATE_CORE=0
SUPER_AUTOMATIC_UPDATER_DISABLED=1