PP_VERSION={{pp_version}}
PROJECTNAME={{projectName}}
PROJECTSHORTNAME={{projectShortName}}
PROJECTURL={{projectUrl}}
PROJECTAUTHOR={{projectAuthor}}
PROJECTAUTHORURL={{projectAuthorUrl}}
PROJECTDESCRIPTION={{projectDescription}}
PROJECTVERSION={{projectVersion}}
